.hero-wrapper {
  width: 100%;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
    no-repeat center center/cover;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-row {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  align-items: center;
}

.form-col {
  display: flex;
  justify-content: flex-start;
  padding: 0px 20px;
  margin-top: -80px  !important;
}

.booking-card {
  background: #f3f3f3;
  border-radius: 25px;
  padding: 25px;
  width: 100%;
  max-width: 420px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


.top-title {
  background: #f5b400;
  padding: 12px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 20px;
  font-weight: 600;
}

.trip-type {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.active-btn {
  flex: 1;
  background: #f5b400 !important;
  border-radius: 25px !important;
  border: none !important;
  font-weight: 600;
}

.inactive-btn {
  flex: 1;
  background: #ddd !important;
  border-radius: 25px !important;
  border: none !important;
}

.trip-option {
  display: flex;
  justify-content: space-between;
  background: #e9e9e9;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.radio-active {
  height: 15px;
  width: 15px;
  background: #f5b400;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.radio-inactive {
  height: 15px;
  width: 15px;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.form-control,
.form-select {
  border-radius: 12px !important;
  padding: 12px 40px 12px 15px !important;
  border: none !important;
  background: #e8e8e8c9;
}

.input-icon {
  position: absolute;
  right: 15px;
  top: 12px;
  color: gray;
}

.add-city {
  background: #e9d9b6;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.book-btn {
  background: #f5b400 !important;
  border: none !important;
  padding: 10px;
  margin-top: 5px !important;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  margin: 0px !important;
  font-weight: bold;
  border-radius: 30px !important;
}

.suggestion-box {
  background: white;
  position: absolute;
  width: 100%;
  top: 45px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  z-index: 99;
}

.suggestion-box div {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestion-box div:hover {
  background: #f5b400;
}

/* PROMO */

.promo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -60px;
  
  position: relative;
  z-index: 5;
}

.desktop-view {
  background: #efefef;
  width: 89%;
  max-width: 1200px;
  border-radius: 80px;
  padding: 16px 50px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.promo-item {
  flex: 1;
  text-align: center;
}

.border-left {
  border-left: 1px solid #d4d4d4;
}

.promo-item h4 {
  font-weight: 700;
  margin-bottom: 8px;
}

.promo-item h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

.promo-item p {
  margin: 0;
  color: #555;
  font-size: 15px;
}

.store-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.store-buttons img {
  height: 40px;
}

.mobile-view {
  display: none;
}

.mobile-image {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {

  .hero-wrapper {
    background: none;
    min-height: auto;
  }
  .slick-initialized .slick-slide{
    /* margin-top: 50px !important; */
    margin-bottom: 50px !important;
  }
  .hero-row {
 position: relative;
        z-index: 2;
        min-height: 74vh;
        align-items: center;
        margin-top: 40px;
}

  .slick-slide img{
  margin-left: 55px !important;
  height: 40px;
}
  .carousel-card {
  background: #f1f1f1;
  border-radius: 50px;

 margin-top: 40px;
  padding: 25px;
  text-align: center;
  height: 110px;

  display: flex !important;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.promo-item h6{
  font-size: 17px !important;
}
  .desktop-view {
    display: none;
  }

  .booking-card{background: none !important;
    width: 470px !important;
    /* margin-top: -30px; */
  }
  .mobile-view {
    display: block;
    width: 95%;
    margin-bottom: -105px !important;
  }

  .mobile-image {
    display: block;
    height: 350px;
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
      no-repeat center center/cover;
  }

  .slick-dots {
    display: none !important;
  }
  .form-col{
    /* margin-top: -20px !important; */
  }
}
@media(min-width:998px){
  .promo-wrapper{
    margin-bottom: -70px !important;
  }
}
.store-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.store-buttons img {
  height: 45px;
  cursor: pointer;
}

/* Mobile View - Hide App Store */
@media (max-width: 768px) {
  .app-store-link {
    display: none;
  }
}